*{
    margin: 0;
    padding: 0;
}

.banner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #ecececd7;
    align-items: center;
    justify-content: center;
    padding: 2% 10% 2% 0
}

.quotes{
    width: 5vw;
    padding: 2%;
    opacity: .5;
}

.citation{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3em;
}

h1, h2{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

h1{
    font-size: 1.2em;
}

h2{
    font-size: 1em;
}

